.input-group {
  position: relative;
  text-transform: capitalize;

  label {
    font-weight: var(--fw-500);
    color: var(--clr-gray-600);
  }

  input {
    color: var(--clr-gray-600);

    &.input--primary {
      padding: 1.3rem;
      padding-left: 4.7rem;
      border-radius: 0.8rem;
      border: 1px solid var(--clr-gray-400);

      &::placeholder {
        color: var(--clr-gray-500);
      }
    }

    &.input--secondary {
      padding: 1.7rem 1.9rem;
      border: 1px solid var(--clr-gray-500);

      &::placeholder {
        color: var(--clr-gray-400);
      }
    }
  }

  .icon {
    position: absolute;
    left: 1.3rem;
    bottom: 1.3rem;
    font-variation-settings: "FILL" 1;
    color: var(--clr-gray-500);
  }
}
