@forward "variables";
@forward "normalize";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-width: 375px;
  font-size: 62.5%;
}

body {
  font-family: var(--ff);
  font-size: var(--fs-400);
  min-height: 100vh;
}
